flow.json
[{"id":"e7e3e94f.80a2a8","type":"tab","label":"Hello world","disabled":false,"info":""},{"id":"79072f33.44b96","type":"tab","label":"Openweathermap","disabled":false,"info":""},{"id":"4db1754e.0eb8f4","type":"tab","label":"Xiaomi Temperature","disabled":false,"info":""},{"id":"f96bd279.d85e","type":"inject","z":"e7e3e94f.80a2a8","name":"","topic":"","payload":"Hello world!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["f0f070de.ff8cf"]]},{"id":"f0f070de.ff8cf","type":"debug","z":"e7e3e94f.80a2a8","name":"print payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":180,"wires":[]},{"id":"9575d1e4.5ec368","type":"comment","z":"e7e3e94f.80a2a8","name":"Print \"Hello world\"!","info":"","x":170,"y":100,"wires":[]},{"id":"8a695c37.7d2dc8","type":"inject","z":"79072f33.44b96","name":"Run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["167b6e.c17aec92"]]},{"id":"b6851c8d.8beb","type":"debug","z":"79072f33.44b96","name":"print weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weather","x":650,"y":180,"wires":[]},{"id":"bfd8cf6f.88b128","type":"comment","z":"79072f33.44b96","name":"Get the weather in Bilbao from Openweathermap and print it","info":"","x":300,"y":100,"wires":[]},{"id":"167b6e.c17aec92","type":"openweathermap","z":"79072f33.44b96","name":"Get weather info from Bilbao","wtype":"current","lon":"","lat":"","city":"Bilbao","country":"Spain","language":"en","x":380,"y":180,"wires":[["b6851c8d.8beb"]]},{"id":"17a020a4.fe30a7","type":"inject","z":"4db1754e.0eb8f4","name":"Run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["8238b973.7a8a2"]]},{"id":"f3303066.aaefa","type":"debug","z":"4db1754e.0eb8f4","name":"print temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temperature","x":590,"y":180,"wires":[]},{"id":"6857be98.a947c","type":"comment","z":"4db1754e.0eb8f4","name":"Get temperature from Xiaomi sensor and print it","info":"","x":260,"y":100,"wires":[]},{"id":"8238b973.7a8a2","type":"Xiaomi BLE","z":"4db1754e.0eb8f4","name":"Get sensor info","address":"4C:65:A8:D0:63:35","scanningTimeout":"10","x":340,"y":180,"wires":[["f3303066.aaefa"]]}]