flow.json
[{"id":"e7e3e94f.80a2a8","type":"tab","label":"Hello world","disabled":false,"info":""},{"id":"79072f33.44b96","type":"tab","label":"Openweathermap","disabled":false,"info":""},{"id":"4db1754e.0eb8f4","type":"tab","label":"Xiaomi Temperature","disabled":false,"info":""},{"id":"8477eefe.d7ad7","type":"tab","label":"Function vs Subflow","disabled":false,"info":""},{"id":"fcf05bd6.8ce71","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"2068dd6c.439422","type":"tab","label":"RBE","disabled":false,"info":""},{"id":"8f65a34e.eb5fc","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"8cd827a9.a919b","type":"tab","label":"Webmail notifier","disabled":false,"info":""},{"id":"2f1f7a6e.4bfd56","type":"subflow","name":"zero checker","info":"","category":"","in":[{"x":100,"y":140,"wires":[{"id":"7ca2e853.b132"}]}],"out":[{"x":740,"y":140,"wires":[{"id":"1a308f21.f04839","port":0},{"id":"354723ee.2b1cbc","port":0}]}]},{"id":"fbc5f9a5.f1e288","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"66066eb6.1dad18","type":"ui_group","z":"","name":"Default","tab":"fbc5f9a5.f1e288","disp":true,"width":"6","collapse":false},{"id":"cea3aa0e.7be658","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf045a2.71e1728","type":"telegram bot","z":"","botname":"MyNodeREDRobot","usernames":"","chatids":"733702332","baseapiurl":"","pollinterval":"300"},{"id":"f96bd279.d85e","type":"inject","z":"e7e3e94f.80a2a8","name":"","topic":"","payload":"Hello world!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["f0f070de.ff8cf"]]},{"id":"f0f070de.ff8cf","type":"debug","z":"e7e3e94f.80a2a8","name":"print payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":180,"wires":[]},{"id":"9575d1e4.5ec368","type":"comment","z":"e7e3e94f.80a2a8","name":"Print \"Hello world!\"","info":"","x":170,"y":100,"wires":[]},{"id":"8a695c37.7d2dc8","type":"inject","z":"79072f33.44b96","name":"Run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["167b6e.c17aec92"]]},{"id":"b6851c8d.8beb","type":"debug","z":"79072f33.44b96","name":"print weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weather","x":650,"y":180,"wires":[]},{"id":"bfd8cf6f.88b128","type":"comment","z":"79072f33.44b96","name":"Get the weather in Bilbao from Openweathermap and print it","info":"","x":300,"y":100,"wires":[]},{"id":"167b6e.c17aec92","type":"openweathermap","z":"79072f33.44b96","name":"Get weather info from Bilbao","wtype":"current","lon":"","lat":"","city":"Bilbao","country":"Spain","language":"en","x":380,"y":180,"wires":[["b6851c8d.8beb"]]},{"id":"17a020a4.fe30a7","type":"inject","z":"4db1754e.0eb8f4","name":"Run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["8238b973.7a8a2"]]},{"id":"f3303066.aaefa","type":"debug","z":"4db1754e.0eb8f4","name":"print temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temperature","x":590,"y":180,"wires":[]},{"id":"6857be98.a947c","type":"comment","z":"4db1754e.0eb8f4","name":"Get temperature from Xiaomi sensor and print it","info":"","x":260,"y":100,"wires":[]},{"id":"8238b973.7a8a2","type":"Xiaomi BLE","z":"4db1754e.0eb8f4","name":"Get sensor info","address":"4C:65:A8:D0:63:35","scanningTimeout":"10","x":340,"y":180,"wires":[["f3303066.aaefa"]]},{"id":"83159f4e.9387a","type":"inject","z":"8477eefe.d7ad7","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["a059e1e8.e459d"]]},{"id":"55c0e5f3.592924","type":"comment","z":"8477eefe.d7ad7","name":"Not the Node-Red way!","info":"","x":180,"y":100,"wires":[]},{"id":"c3cd017a.d322","type":"inject","z":"8477eefe.d7ad7","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["a059e1e8.e459d"]]},{"id":"a059e1e8.e459d","type":"function","z":"8477eefe.d7ad7","name":"is zero?","func":"if(msg.payload == 0) {\n    msg.payload = \"It's zero\";\n} else {\n    msg.payload = \"It's not zero\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["e734e150.512b"]]},{"id":"e734e150.512b","type":"debug","z":"8477eefe.d7ad7","name":"print diagnostic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":220,"wires":[]},{"id":"5f7bcfa5.663148","type":"inject","z":"8477eefe.d7ad7","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["c78693f7.ddd78"]]},{"id":"ed311585.3e9918","type":"comment","z":"8477eefe.d7ad7","name":"The Node-Red way :)","info":"","x":180,"y":380,"wires":[]},{"id":"7c32a679.bab56","type":"inject","z":"8477eefe.d7ad7","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["c78693f7.ddd78"]]},{"id":"195c3c19.145bdc","type":"debug","z":"8477eefe.d7ad7","name":"print diagnostic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":500,"wires":[]},{"id":"c78693f7.ddd78","type":"switch","z":"8477eefe.d7ad7","name":"is zero?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":500,"wires":[["521329a7.7a92e"],["8147a6e7.f56d78"]]},{"id":"521329a7.7a92e","type":"change","z":"8477eefe.d7ad7","name":"set the message for zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"It's zero","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":460,"wires":[["195c3c19.145bdc"]]},{"id":"8147a6e7.f56d78","type":"change","z":"8477eefe.d7ad7","name":"set the alternate message","rules":[{"t":"set","p":"payload","pt":"msg","to":"It's not zero","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":540,"wires":[["195c3c19.145bdc"]]},{"id":"2215d783.2cd108","type":"inject","z":"8477eefe.d7ad7","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":740,"wires":[["800be9e8.e351c8"]]},{"id":"7b0dc32a.75ad94","type":"comment","z":"8477eefe.d7ad7","name":"Using a subflow","info":"","x":160,"y":660,"wires":[]},{"id":"9f60a128.6c02a8","type":"inject","z":"8477eefe.d7ad7","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":820,"wires":[["800be9e8.e351c8"]]},{"id":"4a8a2037.d477d","type":"debug","z":"8477eefe.d7ad7","name":"print diagnostic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":780,"wires":[]},{"id":"7ca2e853.b132","type":"switch","z":"2f1f7a6e.4bfd56","name":"is zero?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":140,"wires":[["1a308f21.f04839"],["354723ee.2b1cbc"]]},{"id":"1a308f21.f04839","type":"change","z":"2f1f7a6e.4bfd56","name":"set the message for zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"It's zero","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[[]]},{"id":"354723ee.2b1cbc","type":"change","z":"2f1f7a6e.4bfd56","name":"set the alternate message","rules":[{"t":"set","p":"payload","pt":"msg","to":"It's not zero","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[[]]},{"id":"800be9e8.e351c8","type":"subflow:2f1f7a6e.4bfd56","z":"8477eefe.d7ad7","name":"zero checker","x":330,"y":780,"wires":[["4a8a2037.d477d"]]},{"id":"2373443c.f65304","type":"inject","z":"fcf05bd6.8ce71","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["41067f55.dbfa5"]]},{"id":"e73b1d27.6275d","type":"comment","z":"fcf05bd6.8ce71","name":"Show a gauge in a dashboard","info":"","x":200,"y":100,"wires":[]},{"id":"41067f55.dbfa5","type":"ui_gauge","z":"fcf05bd6.8ce71","name":"","group":"66066eb6.1dad18","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"33","seg2":"66","x":310,"y":260,"wires":[]},{"id":"37fbc64a.39de2a","type":"inject","z":"fcf05bd6.8ce71","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["41067f55.dbfa5"]]},{"id":"32810d8.2aec372","type":"inject","z":"fcf05bd6.8ce71","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["41067f55.dbfa5"]]},{"id":"92959239.c30ca8","type":"rbe","z":"2068dd6c.439422","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":220,"wires":[["a78758d5.d33a38"]]},{"id":"9d27280e.94b158","type":"inject","z":"2068dd6c.439422","name":"","topic":"","payload":"OK","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["92959239.c30ca8"]]},{"id":"2c5aa835.80fd38","type":"comment","z":"2068dd6c.439422","name":"Let pass data only if the payload changes","info":"","x":240,"y":100,"wires":[]},{"id":"a78758d5.d33a38","type":"debug","z":"2068dd6c.439422","name":"print payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":220,"wires":[]},{"id":"9b445c63.366d5","type":"inject","z":"2068dd6c.439422","name":"","topic":"","payload":"ERROR","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["92959239.c30ca8"]]},{"id":"8c1ea259.461c58","type":"inject","z":"8f65a34e.eb5fc","name":"Run","topic":"","payload":"Hello bot!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["86999f9b.7f111"]]},{"id":"ed590c0.619bef8","type":"comment","z":"8f65a34e.eb5fc","name":"Send \"Hello bot!\" as Telegram message","info":"","x":240,"y":100,"wires":[]},{"id":"6d54478d.226ef8","type":"telegram sender","z":"8f65a34e.eb5fc","name":"Telegram notification","bot":"cf045a2.71e1728","x":600,"y":180,"wires":[[]]},{"id":"86999f9b.7f111","type":"change","z":"8f65a34e.eb5fc","name":"set up message","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.content","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.chatId","pt":"msg","to":"733702332","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["6d54478d.226ef8"]]},{"id":"3496b474.93c4dc","type":"inject","z":"8cd827a9.a919b","name":"ON","topic":"","payload":"'echo 1 > /sys/class/leds/riso_kagaku3:red/brightness'","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["9f65590f.8a424"]]},{"id":"6417b14f.c7e99","type":"comment","z":"8cd827a9.a919b","name":"Run a command to switch on/off the red led","info":"","x":250,"y":100,"wires":[]},{"id":"d6a9ce86.884218","type":"comment","z":"8cd827a9.a919b","name":"Write to the green led file to switch it on/off","info":"","x":240,"y":380,"wires":[]},{"id":"296968f9.e4053","type":"comment","z":"8cd827a9.a919b","name":"Use a custom node to switch on/off the blue led","info":"","x":260,"y":660,"wires":[]},{"id":"1b92f71a.0a2501","type":"inject","z":"8cd827a9.a919b","name":"OFF","topic":"","payload":"'echo 0 > /sys/class/leds/riso_kagaku3:red/brightness'","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["9f65590f.8a424"]]},{"id":"9f65590f.8a424","type":"exec","z":"8cd827a9.a919b","command":"bash -c","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run command","x":340,"y":220,"wires":[["8da7e172.428fc8"],["8da7e172.428fc8"],[]]},{"id":"8da7e172.428fc8","type":"debug","z":"8cd827a9.a919b","name":"print standard&error output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":220,"wires":[]},{"id":"d2181697.54521","type":"file","z":"8cd827a9.a919b","name":"write to led file","filename":"/sys/class/leds/riso_kagaku3:green/brightness","appendNewline":true,"createDir":false,"overwriteFile":"true","x":340,"y":500,"wires":[["96c64202.324e58"]]},{"id":"51588859.1a7fb","type":"inject","z":"8cd827a9.a919b","name":"ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["d2181697.54521"]]},{"id":"c5694b0e.d1b0b8","type":"inject","z":"8cd827a9.a919b","name":"OFF","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["d2181697.54521"]]},{"id":"96c64202.324e58","type":"debug","z":"8cd827a9.a919b","name":"print written message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":500,"wires":[]},{"id":"ac2f78cc.46ba4","type":"inject","z":"8cd827a9.a919b","name":"ON","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":740,"wires":[["419f77f2.68a5b"]]},{"id":"97323459.804388","type":"inject","z":"8cd827a9.a919b","name":"OFF","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":820,"wires":[["419f77f2.68a5b"]]},{"id":"8f2ec16d.4820a","type":"debug","z":"8cd827a9.a919b","name":"print color or error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":780,"wires":[]},{"id":"419f77f2.68a5b","type":"webmail-notifier","z":"8cd827a9.a919b","leddev":"riso_kagaku3","name":"led notifier","x":330,"y":780,"wires":[["8f2ec16d.4820a"]]}]