flow.json
[{"id":"e7e3e94f.80a2a8","type":"tab","label":"Hello world","disabled":false,"info":""},{"id":"f96bd279.d85e","type":"inject","z":"e7e3e94f.80a2a8","name":"","topic":"","payload":"Hello world!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["f0f070de.ff8cf"]]},{"id":"f0f070de.ff8cf","type":"debug","z":"e7e3e94f.80a2a8","name":"print payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":180,"wires":[]},{"id":"9575d1e4.5ec368","type":"comment","z":"e7e3e94f.80a2a8","name":"Print \"Hello world\"!","info":"","x":170,"y":100,"wires":[]}]